#classic {
  text-align: justify;
  padding: 14px 20px 0 14px;
  overflow: hidden;
}

#modern {
  text-align: center;
  padding: 15px 16px 0 16px;
  background-color: rgb(255, 220, 0);
  font-family: arial;
  overflow: hidden;
}

#impact {
  background-color: rgb(107, 247, 137);
  border-width: 16px;
  border-style: double;
  text-align: center;
  font-family: arial; 
  padding: 21px 14px 0 14px;
  overflow: hidden;
  line-height: 110%;
}

#elise {
  font-family: 'elise', cursive;
  padding: 26px;
  overflow: hidden;
  height: 165px;
  background-color: rgb(255, 251, 239);
  text-align: center;
  border: 3px solid rgb(168, 157, 142);
  box-shadow: 5px 5px 5px rgb(213, 216, 213);
}

#one, #two{
  margin-top: 92px;
  margin-left: 40px;
  margin-right: 8px;
  position: relative;
  align-self: left;
  overflow: hidden;
  background-color: rgb(61, 255, 212);
  font-family: arial;
  padding: 44px, 44px, 44px, 0;
  float: left;
}

.doubles > p {
  padding: 25px;
  text-align: center;
  border: 4px inset; 
}

#gaudi {

}




