#classic {
  text-align: justify;
  padding: 14px 20px 0 14px;
  overflow: hidden;
}

#modern {
  text-align: center;
  padding: 14px 20px 0 14px;
  
}

#impact {

}

#elise {

}

#one, #two  {

}

#gaudi {

}




